<div id="about-section" class="inner-content">
    <header>
        <h1 class="section-quote">“Having a UX department or UX title does not mean you are practicing UX”</h1>
        <h4 class="section-quote-author">- Hoa Loranger</h4>
    </header>

    <div class="gradient"></div>
    <div class="section-content">
        <section>
            <p>Hello!<p>

            <p>I’m a firm believer in that quote, but I’ll get to that in a bit. I do user experience design, development, and research.  I’ve been doing this since before I knew it was a profession</p>

            <p>I began as a web/graphic designer and over time evolved into a web developer.</p>

            <p>As the web grew more complex, so did my design and development chops.  On the development side, I turned my attention into getting a deep understand of javascript and it's various frameworks adn tools to build applications.  However to build useful, complex applications, the user experience becomes the cornerstone upon which everything else is built.</p>

            <p>This idea prompted me to study how and why people would use various applications.  I became very single minded about the overall experience of my software and creating efficient, intuitive, and pleasurable interfaces.</p>

            <p>Eventually I enrolled in the Human Computer Interaction graduate program at Indiana University (Indianapolis) to continue my exploration of how users interact with software and how to craft a great user experience.</p>
        </section>
    </div>



</div>