<div id="about-section" class="inner-content">
    <header>
        <h1 class="section-quote">“Having a UX department or UX title does not mean you are practicing UX”</h1>
        <h4 class="section-quote-author">- Hoa Loranger</h4>
    </header>

    <div class="gradient"></div>
    <div class="section-content">
        <section>
            <p>Hello!<p>

            <p>My name is Lawrence and I consider myself a UX Activist.  In this era of ubiquitous devices, interfaces, and applications, user experience is of the utmost importance and is no longer a "nice to have".  Understanding the users goals, motivations, and cognition are not only fascinating, but essential. I’ve been doing this since before I knew it was a profession.</p>

            <p>I began as a web/graphic designer and over time evolved into a web developer.</p>

            <p>As the web grew more complex, so did my design and development chops.  On the development side, I turned my attention into getting a deep understanding of front-end tech, various frameworks, and tools to build applications.  However to build useful, complex applications, the user experience becomes the cornerstone upon which everything else is built.</p>

            <p>This idea prompted me to study how and why people would use applications.  I became very single minded about the overall experience of using my software and stronging passionate about creating efficient, intuitive, and pleasurable interfaces.</p>

        </section>

        <section>
            <table class="who-I-am">
                <tr>
                    <td class="about-title"><span class="section-title">What I Am</span></td>
                </tr>
                <tr>
                    <td class="raleway"><span class="light-bulb light-on">An advocate for the user experience.</span></td>
                </tr>
                <tr>
                    <td class="raleway"><span class="light-bulb light-on">Comfortable with full stack js development.</span></td>
                </tr>
                <tr>
                    <td class="raleway"><span class="light-bulb light-on">Always trying to learn more than I knew the day before.</span></td>
                </tr>
                <tr>
                    <td class="raleway"><span class="light-bulb light-on">Experienced in the entire interaction design process</span></td>
                </tr>

                <tr>
                    <td class="about-title"><span class="section-title"><br>What I Am NOT</span></td>
                </tr>
                <tr>
                    <td class="raleway"><span class="light-bulb light-off">A person that simply uses UX in their title.</span></td>
                </tr>
                <tr>
                    <td class="raleway"><span class="light-bulb light-off">A designer who knows just enough development to get by.</span></td>
                </tr>
                <tr>
                    <td class="raleway"><span class="light-bulb light-off">A person content with what I know.</span></td>
                </tr>
                <tr>
                    <td class="raleway"><span class="light-bulb light-off">A person that simply makes pretty graphics and icons.</span></td>
                </tr>
            </table>
        </section>

        <section>
            <div class="weapons-section">
                <span class="section-title">Weapons of Choice</span>
                <table>
                    <tr>
                        <td>
                            <span class="weapons-icon html"></span>
                        </td>
                        <td>
                            <span class="weapons-icon css"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="weapons-name">HTML</span>
                        </td>
                        <td>
                            <span class="weapons-name">CSS</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="weapons-icon javascript"></span>
                        </td>
                        <td>
                            <span class="weapons-icon jquery"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="weapons-name">Javascript</span>
                        </td>
                        <td>
                            <span class="weapons-name">Jquery</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="weapons-icon less"></span>
                        </td>
                        <td>
                            <span class="weapons-icon webstorm"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="weapons-name">LESS</span>
                        </td>
                        <td>
                            <span class="weapons-name">Webstorm</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="weapons-icon photoshop"></span>
                        </td>
                        <td>
                            <span class="weapons-icon axure"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="weapons-name">Photoshop</span>
                        </td>
                        <td>
                            <span class="weapons-name">Axure</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="weapons-icon chrome"></span>
                        </td>
                        <td>
                            <span class="weapons-icon imagination"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="weapons-name">Chrome Dev Tools</span>
                        </td>
                        <td>
                            <span class="weapons-name">My Imagination</span>
                        </td>
                    </tr>
                </table>
            </div>
        </section>

        <section>
            <div class="time-section">
                <span class="section-title">How I Divvy My Time</span>
                <img class="pie-chart" src="/assets/images/pie-chart.png" alt="Pie Chart of Activities">
                <table>
                    <tbody><tr>
                        <td><span class="chart-color blue"></span></td>
                        <td>UX Design</td>
                    </tr>
                    <tr>
                        <td><span class="chart-color red"></span></td>
                        <td>Front End Development</td>
                    </tr>
                    <tr>
                        <td><span class="chart-color yellow"></span></td>
                        <td>Reading About UX</td>
                    </tr>
                    <tr>
                        <td><span class="chart-color green"></span></td>
                        <td>Nerd Related Activities</td>
                    </tr>
                    <tr>
                        <td><span class="chart-color grey"></span></td>
                        <td>Eating Ice Cream</td>
                    </tr>
                    </tbody></table>
            </div>
        </section>

        <section>
            <div class="working-on-now">
                <span class="section-title">What I'm Working on Now</span>
                <p>I am currently wrapping up a graduate degree in Human Computer Interaction and a certificate in Applied Computer Science.  After this, I will mostly likely pursue an education in some area of Psychology.</p>
                <p>In between my studies, I am devouring any books I can on cognitive psychology, HCI, and as many research papers from various NASA researchers as I can find.  Specifically NASA because my ultimate goal is to apply my knowledge in the aerospace industry. This is due to my life long interest in everything aircraft and space related.</p>
            </div>
        </section>
    </div>
</div>