<div id="about-section" class="inner-content">
    <header>
        <h1 class="section-quote">“Having a UX department or UX title does not mean you are practicing UX”</h1>
        <h4 class="section-quote-author">- Hoa Loranger</h4>
    </header>

    <div class="gradient"></div>
    <div class="section-content">
        <section>
            <p>Hello!<p>

            <p>My name is Lawrence and I consider myself a UX Activist.  In this era of ubiquitous devices, interfaces, and applications, user experience is of the utmost importance and is no longer a "nice to have".  Understanding the users goals, motivations, and cognition are not only fascinating, but essential. I’ve been doing this since before I knew it was a profession.</p>

            <p>I began as a web/graphic designer and over time evolved into a web developer.</p>

            <p>As the web grew more complex, so did my design and development chops.  On the development side, I turned my attention into getting a deep understand of javascript and it's various frameworks adn tools to build applications.  However to build useful, complex applications, the user experience becomes the cornerstone upon which everything else is built.</p>

            <p>This idea prompted me to study how and why people would use various applications.  I became very single minded about the overall experience of my software and creating efficient, intuitive, and pleasurable interfaces.</p>

            <p>Eventually I enrolled in the Human Computer Interaction graduate program at Indiana University (Indianapolis) to continue my exploration of how users interact with software and how to craft a great user experience.</p>
        </section>

        <section>
            <table class="who-I-am">
                <tr>
                    <td class="about-title"><span class="section-title">What I Am</span></td>
                </tr>
                <tr>
                    <td class="raleway"><span class="light-bulb light-on">An advocate for the user experience.</span></td>
                </tr>
                <tr>
                    <td class="raleway"><span class="light-bulb light-on">Comfortable with full stack js development.</span></td>
                </tr>
                <tr>
                    <td class="raleway"><span class="light-bulb light-on">Always trying to learn more than I knew the day before.</span></td>
                </tr>
                <tr>
                    <td class="raleway"><span class="light-bulb light-on">Experienced in the entire interaction design process</span></td>
                </tr>

                <tr>
                    <td class="about-title"><span class="section-title"><br>What I Am NOT</span></td>
                </tr>
                <tr>
                    <td class="raleway"><span class="light-bulb light-off">A person that simply uses UX in their title.</span></td>
                </tr>
                <tr>
                    <td class="raleway"><span class="light-bulb light-off">A designer who knows just enough development to get by.</span></td>
                </tr>
                <tr>
                    <td class="raleway"><span class="light-bulb light-off">A person content with what I know.</span></td>
                </tr>
                <tr>
                    <td class="raleway"><span class="light-bulb light-off">A person that simply makes pretty graphics and icons.</span></td>
                </tr>
            </table>
        </section>

        <section>
            <div class="weapons-section">
                <span class="section-title">Weapons of Choice</span>
                <table>
                    <tr>
                        <td>
                            <span class="weapons-icon html"></span>
                        </td>
                        <td>
                            <span class="weapons-icon css"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="weapons-name">HTML</span>
                        </td>
                        <td>
                            <span class="weapons-name">CSS</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="weapons-icon javascript"></span>
                        </td>
                        <td>
                            <span class="weapons-icon jquery"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="weapons-name">Javascript</span>
                        </td>
                        <td>
                            <span class="weapons-name">Jquery</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="weapons-icon less"></span>
                        </td>
                        <td>
                            <span class="weapons-icon webstorm"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="weapons-name">LESS</span>
                        </td>
                        <td>
                            <span class="weapons-name">Webstorm</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="weapons-icon photoshop"></span>
                        </td>
                        <td>
                            <span class="weapons-icon axure"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="weapons-name">Photoshop</span>
                        </td>
                        <td>
                            <span class="weapons-name">Axure</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="weapons-icon chrome"></span>
                        </td>
                        <td>
                            <span class="weapons-icon imagination"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="weapons-name">Chrome Dev Tools</span>
                        </td>
                        <td>
                            <span class="weapons-name">My Imagination</span>
                        </td>
                    </tr>
                </table>
            </div>
        </section>
    </div>
</div>