<div id="code-section" class="inner-content">
    <header>
        <h1 class="section-quote">“If debugging is the process of removing software bugs, then programming must be the process of putting them in.”</h1>
        <h4 class="section-quote-author">- Edsger Wybe Dijkstra</h4>
    </header>

    <div class="gradient"></div>
    <div class="section-content">
        <section>
            <p>While I do spend a lot of time on the visual/interactive side of UX, I still like to get my hands dirty with code. This part of my skill-set came about simply because I wanted to build what I was designing. I’d have to say I enjoy writing code as much as I love designing a good user experience. There’s something extremely satisfying in both.</p>

            <p>Below are some examples of sites or applications that I have written code for. There are links to Github repos where applicable.</p>
        </section>

        <!--The Lawrence Moore-->
        <section>
            <span class="site-image the-lawrence-moore"></span>
            <div>
                <h1 class="project-title">The Lawrence Moore</h1>

                <p>Since I wanted to put up great examples of my design process, I figured why not start with explaining how I came up with this site? I redo my personal portfolio every year or so and this would be the 5th iteration. </p>

                <a class="view-code" href="https://github.com/MyLightIsOn/thelawrencemoore_6" target="_blank">View GitHub</a>
            </div>
        </section>

        <!--Krates-->
        <section>
            <span class="site-image krates"></span>
            <div>
                <h1 class="project-title">Krates</h1>

                <p>This is a pet project of mine that will assist me in cataloging my vinyl record collection. It uses Node, Backbone, MongoDB, Handlebars, Grunt and LESS. Furture plans are to recreate it in several frameworks.</p>

                <a class="view-code" href="https://github.com/MyLightIsOn/krates" target="_blank">View GitHub</a>

                <!-- Need to configure DB to work on test site -->
                <!--<a class="view-code" href="https://github.com/MyLightIsOn/krates" target="_blank">View Live Site</a>-->
            </div>
        </section>

        <!--Revolt-->
        <section>
            <span class="site-image revolt"></span>
            <div>
                <h1 class="project-title">Revolt TV</h1>

                <p>I was one of front end devs on Revolt.tv, Sean Combs' latest opus. It pulls JSON data from a custom CMS to populate the newsfeed. I'd say it's one of the biggest sites I've had a chance to work on.</p>

                <a class="view-code" href="http://revolt.tv/" target="_blank">View Live Site</a>
            </div>
        </section>

        <!--Amy Foxworthy Writing-->
        <section>
            <span class="site-image foxworthy"></span>
            <div>
                <h1 class="project-title">Amy Foxworthy Writing</h1>

                <p>I created this writer’s protfolio website and logo with the sole purpose of giving them an edge on other writers.</p>

                <p>Originally, I did this in website in a brochure style.  To keep from having to update this website myself manually, I re-architected the site using KeystoneJS CMS to handle management of content. I find the interface much less convoluted than the big CMS's out there.</p>

                <a class="view-code" href="https://github.com/MyLightIsOn/amy-writer__cms" target="_blank">View GitHub</a>
                <a class="view-code" href="http://amyfoxworthy.com/" target="_blank">View Live Site</a>
            </div>
        </section>

        <!--Indy Chamber of Commerce-->
        <section>
            <span class="site-image indy-chamber"></span>
            <div>
                <h1 class="project-title">Indy Chamber of Commerce</h1>

                <p>For this site, I was the sole front end developer working with two other back end devs. This is a .NET site and required me to be able to navigate through that framework comfortably.</p>

                <a class="view-code" href="http://www.indychamber.com/" target="_blank">View Live Site</a>
            </div>
        </section>

        <!--Cliff Notes-->
        <section>
            <span class="site-image cliff-notes"></span>
            <div>
                <h1 class="project-title">Cliff Notes Skills Test</h1>

                <p>The Cliff Notes Skills Test was a test I took for a job interview. I had to turn a PDF into a webpage based on the style of their site. The PDF I used is located <a href="..\assets\images\other\ACT_Sample_English_Test_Reading_Passage_1.pdf" target="_blank">here</a>. This was the only asset I was given. They provided absolutely no images, styles, fonts, etc. They have since redesigned their site so it doesn't match up anymore. It was cool at the time though!</p>

                <a class="view-code" href="..\assets\cliff\index.html" target="_blank">View Live Site</a>
            </div>
        </section>
    </div>



</div>