<div id="contact-section" class="inner-content">
    <header>
        <h1 class="section-quote">“The single biggest problem in communication is the illusion that it has taken place.”</h1>
        <h4 class="section-quote-author">- George Benard Shaw</h4>
    </header>

    <div class="gradient"></div>
    <div class="section-content">
        <h2 class="contact-title">Contact Me</h2>

        <p>Right now, the best way to reach me is at:</p>
        <h2 class="contact-title email-address">TheLawrenceMoore@Gmail.com</h2>

    </div>



</div>