<div id="contact-section" class="inner-content">
    <header>
        <h1 class="section-quote">“The single biggest problem in communication is the illusion that it has taken place.”</h1>
        <h4 class="section-quote-author">- George Benard Shaw</h4>
    </header>
    <div class="mobile-background"></div>
    <div class="gradient"></div>
    <div class="section-content">
        <h2 class="contact-title">Contact Me</h2>

        <p>Right now, the best way to reach me is at:</p>
        <h2 class="contact-title email-address">TheLawrenceMoore@Gmail.com</h2>
        <p>Or there's always Linkedin, which can be found <a href="https://www.linkedin.com/pub/lawrence-moore/a5/265/1a7" target="_blank">HERE</a></p>

    </div>



</div>