<div id="design-section" class="inner-content">
    <header>
        <h1 class="section-quote">“What separates design from art is that design is meant to be... functional.”</h1>
        <h4 class="section-quote-author">- Cameron Moll</h4>
    </header>
    <div class="gradient"></div>
    <div class="section-content">
        <section>
            <p>The foundation of any software application is the design. This goes for the software architecture as well as the client facing side.</p>
            <p>Over the years I have used many different methods and tools to create a solid foundation upon with to build. Here are some examples.</p>
            <p>I have included the entire process where I could.</p>
        </section>

        <!--The Lawrence Moore-->
        <section>
            <span class="site-image the-lawrence-moore"></span>
            <div>
                <h1 class="project-title">The Lawrence Moore</h1>

                <p>Since I wanted to put up great examples of my design process, I figured why not start with explaining how I came up with this site? I redo my personal portfolio every year or so and this would be the 5th iteration. </p>

                <span class="view-process">View Process</span>

                <div class="swiper-container thelawrencemoore-slides">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">Slide 1</div>
                        <div class="swiper-slide">Slide 2</div>
                        <div class="swiper-slide">Slide 3</div>
                        <div class="swiper-slide">Slide 4</div>
                        <div class="swiper-slide">Slide 5</div>
                        <div class="swiper-slide">Slide 6</div>
                        <div class="swiper-slide">Slide 7</div>
                        <div class="swiper-slide">Slide 8</div>
                        <div class="swiper-slide">Slide 9</div>
                        <div class="swiper-slide">Slide 10</div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>

                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </section>

        <!--Krates Record Catalog-->
        <section>
            <span class="site-image krates"></span>
            <div>
                <h1 class="project-title">Krates</h1>

                <p>This app is something I designed and built (currently buidling) that will help me catalog my collection of vinyl as well as brush up on different technology. These include Backbone, Handlebars, Require, and MongoDB. The full list can be found on the Github page.</p>

                <span class="view-process">View Process</span>
            </div>
        </section>

        <!--Hub Tile-->
        <section>
            <span class="site-image hub-tile"></span>
            <div>
                <h1 class="project-title">HubTile</h1>

                <p>This is a design project for a start-up that I got to work on with 2 other designers. Essentially, we had to design a system that allows users to “put together” a small marketing website using tiles. </p>

                <span class="view-process">View Process</span>
            </div>
        </section>

        <!--Amyfoxworthy Writing-->
        <section>
            <span class="site-image foxworthy"></span>
            <div>
                <h1 class="project-title">Amy Foxworthy Writing</h1>

                <p>This is a portfolio website for a writer that I did. This was a unique experience because really, how often does a writer ask you to create a website for them? I can’t say no to a fresh challenge…</p>

                <span class="view-process">View Process</span>
            </div>
        </section>

        <!--Emoe Research Project-->
        <section>
            <span class="site-image emoe"></span>
            <div>
                <h1 class="project-title">Emoe</h1>

                <p>This is a research project that I am working on for graduate school. It is a chat interface that is designed to support the emotional nuances of conversation. I'm currently developing a working prototype.</p>

                <span class="view-process">View Process</span>
            </div>
        </section>

        <!--Graphic Design-->
        <section>
            <span class="site-image graphic-design"></span>
            <div>
                <h1 class="project-title">Graphic Design</h1>

                <p>These are simply graphic design images that I've done that I like. Some are just images, others are mock websites. These were purely graphic design challenges.</p>

                <span class="view-process">View Process</span>
            </div>
        </section>
    </div>
</div>
