<div id="design-section" class="inner-content">
    <header>
        <h1 class="section-quote">“What separates design from art is that design is meant to be... functional.”</h1>
        <h4 class="section-quote-author">- Cameron Moll</h4>
    </header>
    <div class="mobile-background"></div>
    <div class="gradient"></div>
    <div class="section-content">
        <section>
            <p>The foundation of any software application is the design. This concept applies to both the software architecture side, as well as the client-facing side.</p>
            <p>Over the years, I have used many different methods and tools to create a solid foundation upon which to build. Below I’ve displayed some examples—including the entire process where I could.</p>
        </section>

        <!--The Lawrence Moore-->
        <section class="project-section">
            <span class="site-image the-lawrence-moore"></span>
            <div class="project-container">
                <h1 class="project-title">The Lawrence Moore</h1>

                <p>Since I wanted to showcase great examples of my design process, I figured, “Why not explain how I came up with my own website?” I redo my personal portfolio every year or so, and the version you are currently viewing is my 5th iteration. </p>

                <span class="view-process">View Process</span>

                <div class="slide-show">
                    <div class="swiper-container thelawrencemoore-slides">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="../assets/images/thelawrencemoore/slide1.jpg" class="slide-image wide">
                                <img src="../assets/images/thelawrencemoore/slide1_mobile.jpg" class="slide-image default">
                                <div class="slide-description wide">
                                    <p>Redesigning my portfolio is something of an event now. I tend to do it every one-to-two years, documenting the process whenever possible.  On this iteration, I wanted to have an “app-feel;” the tricky part is that typically, getting an app-feel tends to be performance-intensive.  That was something I kept in mind as I began to redesign my site.</p>
                                </div>
                                <div class="slide-description default">
                                    <p>Redesigning my portfolio is something of an event now. I tend to do it every one to two years. Typcially I try to document the process. I wanted to go with a "app" feel on this iteration.</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="../assets/images/thelawrencemoore/slide2.jpg" class="slide-image wide">
                                <img src="../assets/images/thelawrencemoore/slide2_mobile.jpg" class="slide-image default">
                                <div class="slide-description wide">
                                    <p>When I design my portfolios I try to jot down some specific goals to aim for.  These are the ones I went for with this design. They include things such:</p>
                                    <ul>
                                        <li>My website must have interesting interaction elements.</li>
                                        <li>I have the dual skillsets of being able to design and write code. I have to show strong examples of both.</li>
                                        <li>It must work across all devices since I won't know where people will be when they view this site.</li>
                                    </ul>
                                </div>
                                <div class="slide-description default">
                                    <p>When I design my portfolios I try to jot down some specific goals to aim for.  These are the ones I went for with this design. They include things such as showing the various skillsets that I have and making the interaction one of the highlights.</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="../assets/images/thelawrencemoore/slide3.jpg" class="slide-image wide">
                                <img src="../assets/images/thelawrencemoore/slide3_mobile.jpg" class="slide-image default">
                                <div class="slide-description wide">
                                    <p>After creating my initial goals, I then did some research into a few relevant topics. This would be where I would create use cases for a design. I read several Tech HR articles to see what types of things they look for in designer and developer portfolios.  I also browsed a handful of interaction designer websites to see what others have done. After doing so I added these requirements to my list.</p>
                                    <ul>
                                        <li>Must show design process for several projects.</li>
                                        <li>Developed sites need links to live site as well as Github if possible.</li>
                                        <li>Competition is stiff so focus on visual impressions as well as informative aspects.</li>
                                    </ul>
                                </div>
                                <div class="slide-description default">
                                    <p>After creating my initial goals, I then did some research into a few relevant topics. I read several Tech HR articles to see what types of things they look for in designer and developer portfolios.  I also browsed a handful of interaction designer websites to see what others have done.</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="../assets/images/thelawrencemoore/slide4.jpg" class="slide-image wide">
                                <img src="../assets/images/thelawrencemoore/slide4_mobile.jpg" class="slide-image default">
                                <div class="slide-description wide">
                                    <p>This is one of my initial sketches of how I wanted the navigation to work.  This layout would feel more app like on a mobile device and would be very comfortable to navigate with touch or with a mouse. It would also address each area of interest that I was aiming for.</p>
                                </div>
                                <div class="slide-description default">
                                    <p>This is one of my initial sketches of how I wanted the navigation to work.  This layout would feel more app like on a mobile device and would be very comfortable to navigate with touch or with a mouse. It would also address each area of interest that I was aiming for.</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="../assets/images/thelawrencemoore/slide5.jpg" class="slide-image wide">
                                <img src="../assets/images/thelawrencemoore/slide5_mobile.jpg" class="slide-image default">
                                <div class="slide-description wide">
                                    <p>I wanted to have a little blurb about each project for my project pages to give an overall description of what skills/tools that project was giving an example of.  Also, it was imperative to add some type of gallery for the design process.  I opted to go with a slide show that went along with the app feel style.</p>
                                </div>
                                <div class="slide-description default">
                                    <p>I wanted to have a little blurb about each project for my project pages to give an overall description of what skills/tools that project was giving an example of.  Also, it was imperative to add some type of gallery for the design process.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>

                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>

            </div>
            <span class="clearfix"></span>
        </section>

        <!--SparkMeter Dashboard Redesign-->
        <section class="project-section">
            <span class="site-image sparkmeter"></span>
            <div class="project-container">
                <h1 class="project-title">Sparkmeter Dashboard Redesign</h1>

                <p>This project was redesigning a dashboard that our company wanted to show investors. I was tasked with the redesign as well as the development.</p>

                <span class="view-process">View Process</span>

                <div class="slide-show">
                    <div class="swiper-container sparkmeter-slides">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="../assets/images/sparkmeter/slide1.jpg" class="slide-image wide">
                                <img src="../assets/images/sparkmeter/slide1_mobile.jpg" class="slide-image default">
                                <div class="slide-description wide">
                                    <p>This is an image of the original dashboard. It would pop up in front of a map certain countries were clicked on. Not much else to it than that.</p>
                                </div>
                                <div class="slide-description default">
                                    <p>This is an image of the original dashboard. It would pop up in front of a map certain countries were clicked on. Not much else to it than that.</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="../assets/images/sparkmeter/slide2.jpg" class="slide-image wide">
                                <img src="../assets/images/sparkmeter/slide2_mobile.jpg" class="slide-image default">
                                <div class="slide-description wide">
                                    <p>In the wireframe, you can see that I fixed several nagging issues with the original design.</p>
                                    <ul>
                                        <li>I added buttons so the user could those instead of trying to find countries. (Countries still can be clicked.</li>
                                        <li>All elements are visible; no modal blocking interaction.</li>
                                        <li>This layout allows for easy automation with javascript.</li>
                                        <li>The overall feel is much more professional looking.</li>
                                    </ul>
                                </div>
                                <div class="slide-description default">
                                    <p>This design will allow the dashboard to be automated, give the option of sidebar navigation or clicking on the countries, allows for easy javascript automation, and feels much more professional.</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="../assets/images/sparkmeter/slide3.jpg" class="slide-image wide">
                                <img src="../assets/images/sparkmeter/slide3_mobile.jpg" class="slide-image default">
                                <div class="slide-description wide">
                                    <p>This wireframe shows what the interface does when expanding a continent. All of the countries we have data for will be shown and the map will zoom into the continent. The charts will also update.</p>
                                </div>
                                <div class="slide-description default">
                                    <p>This wireframe shows what the interface does when expanding a continent. All of the countries we have data for will be shown and the map will zoom into the continent. The charts will also update.</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="../assets/images/sparkmeter/slide4.jpg" class="slide-image wide">
                                <img src="../assets/images/sparkmeter/slide4_mobile.jpg" class="slide-image default">
                                <div class="slide-description wide">
                                    <p>Here is the final design. The color scheme came from some of the colors we have used on our website. We do not currently have branding so this is a first take at pointing us in that direction.</p>
                                </div>
                                <div class="slide-description default">
                                    <p>Here is the final design. The color scheme came from some of the colors we have used on our website. We do not currently have branding so this is a first take at pointing us in that direction.</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="../assets/images/sparkmeter/slide5.jpg" class="slide-image wide">
                                <img src="../assets/images/sparkmeter/slide5_mobile.jpg" class="slide-image default">
                                <div class="slide-description wide">
                                    <p>In this last image, you can see the navigation in action. Those yellow bars in the nav are automation timers and they shrink until they are gone, this will open the next country.</p>
                                </div>
                                <div class="slide-description default">
                                    <p>In this last image, you can see the navigation in action. Those yellow bars in the nav are automation timers and they shrink until they are gone, this will open the next country.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>

                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>

            </div>
            <span class="clearfix"></span>
        </section>

        <!--Krates Record Catalog-->
        <section class="project-section">
            <span class="site-image krates"></span>
            <div  class="project-container">
                <h1 class="project-title">Krates</h1>

                <p>This is an app that I designed and am currently building that will help me catalog my vinyl collection, as well as brush up on different technology.  Some of these include: Backbone, Handlebars, Require, and MongoDB.</p>

                <span class="view-process">View Process</span>

                <div class="slide-show">
                    <div class="swiper-container krates-slides">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="../assets/images/krates/slide1.jpg" class="slide-image wide">
                                <img src="../assets/images/krates/slide1_mobile.jpg" class="slide-image default">
                                <div class="slide-description wide">
                                    <p>I knew that this application would only have a handful of views. I made a diagram of how I wanted this to work. Future plans are to make it so that others can use this application as well, hence the user creation section. For now, it's just for me so development will be starting at the Home Page View.</p>
                                </div>
                                <div class="slide-description default">
                                    <p>I knew that this application would only have a handful of views. I made a diagram of how I wanted this to work. Future plans are to make it so that others can use this application as well, hence the user creation section.</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="../assets/images/krates/slide2.jpg" class="slide-image wide">
                                <img src="../assets/images/krates/slide2_mobile.jpg" class="slide-image default">
                                <div class="slide-description wide">
                                    <p>The home page of this application contains the basic layout of the entire app. Most of the pages will resemble this. I used the task flow sketch to include and place the various actions that can be performed (editing, creating, etc).</p>
                                </div>
                                <div class="slide-description default">
                                    <p>The home page of this application contains the basic layout of the entire app. Most of the pages will resemble this. I used the task flow sketch to include and place the various actions that can be performed (editing, creating, etc).</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="../assets/images/krates/slide3.jpg" class="slide-image wide">
                                <img src="../assets/images/krates/slide3_mobile.jpg" class="slide-image default">
                                <div class="slide-description wide">
                                    <p>Since I find myself dealing with my music in two categories (Albums and Songs), I made sure to include a view that helps me deal with albums specifically.</p>
                                    <p>In this view, I will still be able to edit, add, and delete songs; the same things I can do in the Song View.  This view is for those times when I'm more focused on entire albums so it isn't as redundant as it first seems.</p>
                                </div>
                                <div class="slide-description default">
                                    <p>Since I find myself dealing with my music in two categories (Albums and Songs), I made sure to include a view that helps me deal with albums specifically. In this view, I will still be able to edit, add, and delete songs.</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="../assets/images/krates/slide4.jpg" class="slide-image wide">
                                <img src="../assets/images/krates/slide4_mobile.jpg" class="slide-image default">
                                <div class="slide-description wide">
                                    <p>The form elements that will allow me to add and edit songs will live in the left column where the genre list was before.  I did this to avoid using modal forms and locking the user into that form when they may want to reference information in the table.</p>
                                </div>
                                <div class="slide-description default">
                                    <p>The form elements that will allow me to add and edit songs will live in the left column where the genre list was before.  I did this to avoid using modal forms and locking the user into that form when they may want to reference information in the table.</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="../assets/images/krates/slide5.jpg" class="slide-image wide">
                                <img src="../assets/images/krates/slide5_mobile.jpg" class="slide-image default">
                                <div class="slide-description wide">
                                    <p>This wireframe shows how this application will communicate with the Discogs API, which is the heart of creating new entries.  The user can enter in a line of information and then click on the search button. This search will send a query to the Discogs API and return a list of matches. The user can then simply select the match for the item they want and it will auto-fill the rest of the form. This will keep the user from having to enter in 1000's of lines for a huge collection of music.</p>
                                </div>
                                <div class="slide-description default">
                                    <p>This wireframe shows how this application will communicate with the Discogs API, which is the heart of creating new entries. This will keep the user from having to enter in 1000's of lines for a huge collection of music.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>

                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
            <span class="clearfix"></span>
        </section>

        <!--Hub Tile-->
        <section class="project-section">
            <span class="site-image hub-tile"></span>
            <div class="project-container">
                <h1 class="project-title">HubTile</h1>

                <p>This is a design project for a start-up that I worked on with 2 other designers.  Essentially, the task was to design a system that would allow users to “put together” a small marking website using tiles.</p>

                <span class="view-process">View Process</span>

                <div class="slide-show">
                    <div class="swiper-container hubtile-slides">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="../assets/images/hubtile/slide1.jpg" class="slide-image wide">
                                <img src="../assets/images/hubtile/slide1_mobile.jpg" class="slide-image default">
                                <div class="slide-description wide">
                                    <p>When this project began, the founder had a basic idea of what he wanted to happen, but hadn’t yet refined the details.  What we DID know was that it had to let users sign in and manage “sites” that they could build with tiles. There was also talk of implementing QR codes that would link to the site. With just that to go on, we started off creating use cases and primary noun architecture to workout what the admin section would need. This would be the basis of our design. After several thousand ideation meetings, we created a task flow that gave us and the stakeholder a better idea of what was needed and missing.</p>
                                </div>
                                <div class="slide-description default">
                                    <p>When this project began, the founder had a basic idea of what he wanted to happen, but hadn’t yet refined the details.  After several meetings, a few card sort exercises, and primary noun architecture exercise, we created this site map of the application.</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="../assets/images/hubtile/slide2.jpg" class="slide-image wide">
                                <img src="../assets/images/hubtile/slide2_mobile.jpg" class="slide-image default">
                                <div class="slide-description wide">
                                    <p>While there are MANY wireframes that we created for this application, this one is the core functionality of the application.  While we would eventually refine this some more, this iteration was one of our earliest. As you can see, it contains the egress and ingress points from the task flow document.</p>
                                </div>
                                <div class="slide-description default">
                                    <p>While there are MANY wireframes that we created for this application, this one is the core functionality of the application.  While we would eventually refine this some more, this iteration was one of our earliest. As you can see, it contains the egress and ingress points from the task flow document.</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="../assets/images/hubtile/slide3.jpg" class="slide-image wide">
                                <img src="../assets/images/hubtile/slide3_mobile.jpg" class="slide-image default">
                                <div class="slide-description wide">
                                    <p>This is a wireframe of the edit tile modal.  We made sure to include all of the relevant options that a user would need to create a custom website tile.</p>
                                </div>
                                <div class="slide-description default">
                                    <p>This is a wireframe of the edit tile modal.  We made sure to include all of the relevant options that a user would need to create a custom website tile.</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="../assets/images/hubtile/slide4.jpg" class="slide-image wide">
                                <img src="../assets/images/hubtile/slide4_mobile.jpg" class="slide-image default">
                                <div class="slide-description wide">
                                    <p>Here’s an image of the final design based on our wireframes. I didn’t do this design, but I just wanted to show what it eventually looked like. . I did go on to code the page to pass off to back-end developers. A demo can be found <a class="link" target="_blank" href="../assets/hubtile/tile_workspace.html">here</a></p>
                                </div>
                                <div class="slide-description wide">
                                    <p>Here’s an image of the final design based on our wireframes. I didn’t do this design, but I just wanted to show what it eventually looked like. I did go on to code the page to pass off to back-end developers.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>

                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
            <span class="clearfix"></span>
        </section>

        <!--Amyfoxworthy Writing-->
        <section class="project-section">
            <span class="site-image foxworthy"></span>
            <div class="project-container">
                <h1 class="project-title">Amy Foxworthy Writing</h1>

                <p>This is a portfolio website that I did for a professional writer.  This was a unique experience because really, how often does a writer as you to create a website for them?  I can’t turn down a fresh challenge.</p>

                <span class="view-process">View Process</span>

                <div class="slide-show">
                    <div class="swiper-container foxworthy-slides">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="../assets/images/foxworthy/slide1.jpg" class="slide-image wide">
                                <img src="../assets/images/foxworthy/slide1_mobile.jpg" class="slide-image default">
                                <div class="slide-description wide">
                                    <p>To begin, I had lengthy conversations with Amy as to what it is she wanted this website to do.  The obvious business goal is to display her writing talents, but there’s much more specific details involved in that. She needs to show particular writing skills and examples. She is prefers traditional methods of writing, but that’s an aesthetic thing that will come in the visual design itself. We created this list of requirements.</p>
                                    <ul>
                                        <li>Must show diverse writing: newsletters, hosted articles, and downloadable PDFs.</li>
                                        <li>Must work on mobile and table for potential clients.</li>
                                        <li>It has to contain room for her to be able to discuss her skills at length while also providing a summary.</li>
                                        <li>Need to create a logo and branding.</li>
                                        <li>It has to have a lot of green. (Very important!)</li>
                                    </ul>
                                </div>
                                <div class="slide-description default">
                                    <p>To begin, I had lengthy conversations with Amy as to what it is she wants this website to do.  The obvious business goal is to display her writing talents, but there’s much more specific details involved in that. She needs to show particular writing skills and examples.</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="../assets/images/foxworthy/slide2.jpg" class="slide-image wide">
                                <img src="../assets/images/foxworthy/slide2_mobile.jpg" class="slide-image default">

                                <div class="slide-description wide">
                                    <p>I decided to make this work like a single page application. This would allow the site to display all relevant info in one place. This would also allow potential clients to find everything they need without mucking about trying to find writing samples.  And also, if there was going to potentially be large files to load, this would increase performance (load times) as well.</p>
                                </div>
                                <div class="slide-description default">
                                    <p>I decided to make this work like a single page application. This would allow the site to display all relevant info in one place. This would also allow potential clients to find everything they need without mucking about trying to find writing samples.</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="../assets/images/foxworthy/slide3.jpg" class="slide-image wide">
                                <img src="../assets/images/foxworthy/slide3_mobile.jpg" class="slide-image default">
                                <div class="slide-description wide">
                                    <p>To display the diversity in her writing samples, I collected them all together and determined that they fell into 3 categories: Writing samples online as downloadable files (Downloads), Articles on external websites (External), and Newsletter emails (Internal). I deemed the Newsletters internal because I felt that it was best to just recreate them with HTML as opposed to taking a screen shot.  The accordion method lets the user see potentially many samples, but also giving them the option to hide them.                     </p>
                                </div>
                                <div class="slide-description default">
                                    <p>To display the diversity in her writing samples, I collected them all together and determined that they fell into 3 categories: The accordion method lets the user see potentially many samples, but also giving them the option to hide them.                     </p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="../assets/images/foxworthy/slide4.jpg" class="slide-image wide">
                                <img src="../assets/images/foxworthy/slide4_mobile.jpg" class="slide-image default">
                                <div class="slide-description wide">
                                    <p>After tweaking the wireframes a bit, I then started on the branding. Green was required so that was easy. Since Amy is a writing traditionalist, the obvious choice was to include something involving typewriters. I created the logo to resemble a typewriter key and included one on the logo itself.  I wanted the background to also be representative, just not too distracting, so I placed a light black overlay on top of it.  This is the finished design. The live site can be seen at <a class="link" target="_blank" href="http://amyfoxworthy.com/">amyFoxworthy.com</a> and the code can be seen <a class="link" target="_blank" href="https://github.com/MyLightIsOn/amy_writer">here.</a></p>
                                </div>
                                <div class="slide-description default">
                                    <p>After tweaking the wireframes a bit, I then started on the branding. Green was required so that was easy. Since Amy is a writing traditionalist, the obvious choice was to include something involving typewriters. I created the logo to resemble a typewriter key and included one on the logo itself.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>

                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
            <span class="clearfix"></span>
        </section>

        <!--Emoe Research Project-->
        <section class="project-section">
            <span class="site-image emoe"></span>
            <div class="project-container">
                <h1 class="project-title">Emoe</h1>

                <p>This is a research project that I am working on for graduate school. It is a chat interface that is designed to support the emotional nuances of conversation. I'm currently developing a working prototype.</p>

                <span class="view-process">View Process</span>

                <div class="slide-show">
                    <div class="swiper-container emoe-slides">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="../assets/images/emoe/slide1.jpg" class="slide-image wide">
                                <img src="../assets/images/emoe/slide1_mobile.jpg" class="slide-image default">
                                <div class="slide-description wide">
                                    <p>This has been an ongoing pain point with non-vocal communication since its inception. I read quite a few research papers from scientific journals to support my idea for this application.  My findings revealed that there continues to be a great need for a chat interface that supports emotion and context. While my system doesn't address all facets of conversation, it does focus on emotion and levels of severity. Here's a list of functional requirements that I created from my research.</p>
                                    <ul>
                                        <li>Users should be able to attach nuances or opt to not attach them.</li>
                                        <li>Users should be able to lock the chat window during sessions.</li>
                                        <li>Users should be able to create custom nuances.</li>
                                        <li>Users should be able to assign colors to specific nuances.</li>
                                        <li>Users should be able to arrange top 10 nuances for quick access.</li>
                                        <li>Users should be able to use hot keys as well as GUI.</li>
                                    </ul>
                                </div>
                                <div class="slide-description default">
                                    <p>This has been an ongoing pain point with non-vocal communication since its inception. I read quite a few research papers from scientific journals to support my idea for this application. While my system doesn't address all facets of conversation, it does focus on emotion and levels of severity.</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="../assets/images/emoe/slide2.jpg" class="slide-image wide">
                                <img src="../assets/images/emoe/slide2_mobile.jpg" class="slide-image default">
                                <div class="slide-description wide">
                                    <p>The main feature/goal of this application is to allow users to "attach" emotion, context, nuance, etc., to their messages before they send them. The senders meaning will be much easier to understand since it will be "received" as opposed to "perceived".</p>
                                </div>
                                <div class="slide-description default">
                                    <p>The main feature/goal of this application is to allow users to "attach" emotion, context, nuance, etc., to their messages before they send them. The senders meaning will be much easier to understand since it will be "received" as opposed to "perceived".</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="../assets/images/emoe/slide3.jpg" class="slide-image wide">
                                <img src="../assets/images/emoe/slide3_mobile.jpg" class="slide-image default">
                                <div class="slide-description wide">
                                    <p>Another feature of this application will be the ability to lock the conversation for a period of time. During my initial study, I found that some users find themselves in situations where they are trying to complete a long message. Often times, they are either interrupted before they finish, or they have to submit a large block of text.  This locking feature will allow users to lock the chat window for up to 3 consecutive messages.  This aspect will have to be thoroughly test and tweaked to prevent it from being abused.</p>
                                </div>
                                <div class="slide-description default">
                                    <p>Another feature of this application will be the ability to lock the conversation for a period of time. During my initial study, I found that some users find themselves in situations where they are trying to complete a long message. This aspect will have to be thoroughly test and tweaked to prevent it from being abused.</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="../assets/images/emoe/slide4.jpg" class="slide-image wide">
                                <img src="../assets/images/emoe/slide4_mobile.jpg" class="slide-image default">
                                <div class="slide-description wide">
                                    <p>The challenge with this design was keeping the interface simple and familiar (matching traditional instant messaging interfaces), while adding a conceptually complex feature to express the nuances of conversation.</p>
                                    <p>To display the “emoes”, I decided to use colored circles. This keeps clutter down from the chat window and after a period of time, the colors can be readily identified with an emoe. The key that lets users know what the colors mean can be hidden, since two users who are familiar with each other’s colors would find it unnecessary and distracting.                     </p>
                                </div>
                                <div class="slide-description default">
                                    <p>The challenge with this design was keeping the interface simple and familiar (matching traditional instant messaging interfaces), while adding a conceptually complex feature to express the nuances of conversation.</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="../assets/images/emoe/slide5.jpg" class="slide-image wide">
                                <img src="../assets/images/emoe/slide5_mobile.jpg" class="slide-image default">
                                <div class="slide-description wide">
                                    <p>Users will not only have default emoes to pick from, but they can also create their own and assign them a particular color. This feature was one of the main requested items in my initial survey.</p>
                                    <p>Also, when a user attaches an emoe to a message, they can adjust the “level” of it. The slider goes from “none” to “max”; none being completely black and max being the full hue of that color. Users can use this to express the amount of nuance they want to attach to their messages.</p>
                                </div>
                                <div class="slide-description default">
                                    <p>Users will not only have default emoes to pick from, but they can also create their own and assign them a particular color. This feature was one of the main requested items in my initial survey.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>

                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
            <span class="clearfix"></span>
        </section>

        <!--Graphic Design-->
        <section class="project-section">
            <span class="site-image graphic-design"></span>
            <div class="project-container">
                <h1 class="project-title">Graphic Design</h1>

                <p>These are simply graphic design images that I've done that I like. Some are just images, others are mock websites. These were purely graphic design challenges.</p>

                <span class="view-process">View Process</span>
                <div class="slide-show">
                    <div class="swiper-container other-slides">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="../assets/images/other/slide1.jpg" class="slide-image wide gen-designs">
                                <img src="../assets/images/other/slide1_mobile.jpg" class="slide-image default gen-designs">
                            </div>
                            <div class="swiper-slide">
                                <img src="../assets/images/other/slide2.jpg" class="slide-image wide gen-designs">
                                <img src="../assets/images/other/slide2_mobile.jpg" class="slide-image default gen-designs">
                            </div>
                            <div class="swiper-slide">
                                <img src="../assets/images/other/slide3.jpg" class="slide-image wide gen-designs">
                                <img src="../assets/images/other/slide3_mobile.jpg" class="slide-image default gen-designs">
                            </div>
                            <div class="swiper-slide">
                                <img src="../assets/images/other/slide4.jpg" class="slide-image wide gen-designs">
                                <img src="../assets/images/other/slide4_mobile.jpg" class="slide-image default gen-designs">
                            </div>
                            <div class="swiper-slide">
                                <img src="../assets/images/other/slide5.jpg" class="slide-image wide gen-designs">
                                <img src="../assets/images/other/slide5_mobile.jpg" class="slide-image default gen-designs">
                            </div>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>

                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
            <span class="clearfix"></span>
        </section>
    </div>
</div>
