<div id="main-title">
    <h1>Lawrence Moore</h1>
    <h3>UX Research, Design, and Development</h3>
</div>

<div id="bottom-nav">
    <div class="nav-area about">About</div>
    <div class="nav-area design">Design</div>
    <div class="nav-area code">Code</div>
    <div class="nav-area contact">Contact</div>
</div>