<div id="main-title">
    <h1>Lawrence Moore</h1>
    <h3>UX Research, Design, and Development</h3>
</div>

<div id="bottom-nav">
    <div class="nav-area about">
        <div class="opaque-element"></div>
        <span>About</span>
    </div>
    <div class="nav-area design">
        <div class="opaque-element"></div>
        <span>Design</span>
    </div>
    <div class="nav-area code">
        <div class="opaque-element"></div>
        <span>Code</span>
    </div>
    <div class="nav-area contact">
        <div class="opaque-element"></div>
        <span>Contact</span>
    </div>
</div>

<span class="close-area">X Close</span>