<div id="main-title">
    <h1>Lawrence Moore</h1>
    <h3>UX Activist + Designer + Developer</h3>
</div>

<div id="bottom-nav">
    <div class="nav-area about">
        <div class="opaque-element"></div>
        <span>About</span>
    </div>
    <div class="nav-area design">
        <div class="opaque-element"></div>
        <span>Design</span>
    </div>
    <div class="nav-area code">
        <div class="opaque-element"></div>
        <span>Code</span>
    </div>
    <div class="nav-area contact">
        <div class="opaque-element"></div>
        <span>Contact</span>
    </div>
</div>

<div class="header">
    <h1 class="wide">Lawrence Moore</h1>
    <h3 class="wide">UX Activist + Designer + Developer</h3>
    <span class="close-area">X Close</span>
</div>
<span class="close-slide">X</span>

{{> about}}
{{> design}}
{{> code}}
{{> contact}}