<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        {{{body}}}
    </body>
    <script src="/bower_components/velocity/velocity.min.js"></script>
    <script src="/javascript/script.js"></script>
</html>
