@import "variables.less";

#about-section {

    .section-content {
        background-color: @gold;
    }

    .who-I-am {
        width: 100%;
        padding-bottom: 50px;

        td {
            width: 100%;
        }
    }

    .light-bulb {
        position: relative;

        display: none;
        width: 100%;
        height: 50px;
        padding-left: 80px;
        margin-bottom: 22px;

        font-size: 1.2em;
    }

    .light-on:before {
        position: absolute;
        top: -3px;
        left: -4px;

        display: block;
        width: 63px;
        height: 50px;

        content: '';
        background: url(../assets/images/icons.png) -23px -274px no-repeat;
    }

    .light-off:before {
        position: absolute;
        top: -3px;
        left: -4px;

        display: block;
        width: 63px;
        height: 50px;

        content: '';
        background: url(../assets/images/icons.png) -110px -274px no-repeat;
    }

    .weapons-section {

        table {
            width: 100%;
            max-width: 350px;
            margin: auto;
        }
    }

    .weapons-icon {
        position: relative;

        width: 105px;
        height: 105px;
        display: none;

        margin: 20px auto 0;
    }
    .weapons-name {
        padding-bottom: 15px;
        display: block;

        text-align: center;
        font-size: 1.5em;
        font-weight: bold;
        text-shadow: @shadow-text;
    }

    .weapons-icon.html {
        content: '';
        background: url(../assets/images/icons.png) no-repeat -6px -248px;
        background-size: 650px;
    }

    .weapons-icon.css {
        content: '';
        background: url(../assets/images/icons.png) no-repeat -138px -248px;
        background-size: 650px;
    }

    .weapons-icon.javascript {
        content: '';
        background: url(../assets/images/icons.png) no-repeat -268px -248px;
        background-size: 650px;
    }

    .weapons-icon.jquery {
        content: '';
        background: url(../assets/images/icons.png) no-repeat -398px -248px;
        background-size: 650px;
    }

    .weapons-icon.less {
        content: '';
        background: url(../assets/images/icons.png) no-repeat -528px -248px;
        background-size: 650px;
    }

    .weapons-icon.webstorm {
        content: '';
        background: url(../assets/images/icons.png) no-repeat -6px -385px;
        background-size: 650px;
    }

    .weapons-icon.photoshop {
        content: '';
        background: url(../assets/images/icons.png) no-repeat -138px -385px;
        background-size: 650px;
    }

    .weapons-icon.axure {
        content: '';
        background: url(../assets/images/icons.png) no-repeat -268px -385px;
        background-size: 650px;
    }
    .weapons-icon.chrome {
        content: '';
        background: url(../assets/images/icons.png) no-repeat -398px -385px;
        background-size: 650px;
    }
    .weapons-icon.imagination {
        content: '';
        background: url(../assets/images/icons.png) no-repeat -528px -385px;
        background-size: 650px;
    }

    .time-section {

        table {
            margin: 0 auto 50px;
        }

        td {
            font-size: 1.50em;
            font-weight: bold;
            text-shadow: @shadow-text;
        }
    }

    .pie-chart {
        display: none;
        width: 95%;
        max-width: 350px;
        margin: 0 auto 50px;
    }

    .chart-color {

        display: block;
        width: 40px;
        height: 40px;
        margin: 6px 12px 6px 0;
    }

    .grey {
        background-color: @grey;
    }

    .green {
        background-color: @green;
    }

    .blue {
        background-color: @blue;
    }

    .yellow {
        background-color: @yellow;
    }

    .red {
        background-color: @red;
    }



    .gradient {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#db7f24+0,db7f24+100&amp;0+0,1+100 */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RiN2YyNCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYjdmMjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  rgba(219,127,36,0) 0%, rgba(219,127,36,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(219,127,36,0)), color-stop(100%,rgba(219,127,36,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(219,127,36,0) 0%,rgba(219,127,36,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(219,127,36,0) 0%,rgba(219,127,36,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(219,127,36,0) 0%,rgba(219,127,36,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(219,127,36,0) 0%,rgba(219,127,36,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00db7f24', endColorstr='#db7f24',GradientType=0 ); /* IE6-8 */
    }
}

@media @mobile-landscape {
    #about-section {

        .light-bulb {
            font-size: 1.50em;
        }
    }
}

@media @tablet-default {
    .default {
        display: block  !important;
    }
    .wide {
        display: none !important;
    }

    #about-section {

        .who-I-am {
            display: block;
            width: 60%;
            margin: auto;
        }
    }
}

@media @wide {

    #about-section {

        .who-I-am {
            width: 100%;
            max-width: 1020px;
            margin: auto;

            td {
                width: 50%;
            }

            .raleway {
                padding-right: 30px;
            }
        }
        .weapons-section {
            table {
                width: 100%;
                max-width: 1020px;

                td {
                    width: 160px;
                }
            }
        }

        .time-section {
            width: 85%;
            max-width: 1020px;
            margin: auto;

            .pie-chart {
                float: left;
            }

            table {
                margin: 50px 0 50px 0;

                float: right;
            }
        }
    }
}