/*
How CSS is grouped

Position
Box Model
Color
Text
Other
*/

@import "variables.less";

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    z-index: 5;
}

html {
    box-sizing: border-box;
    height: 100%;
}

body {
    height: 100%;
    min-height: 100%;

    font-size: 100%;

    background-color: @black;
    color: @white;
}

.main-container {
    position: relative;

    width: 100%;
    height: 100%;
    min-height: 100%;

    overflow: hidden;
}

.main-container-open {
    overflow: visible;
}

#main-background {
    position: fixed;
    top: 0;

    width: 100%;
    height: 100%;

    background-color: @black;
    /*background: url('../assets/images/orbit_small.jpg') no-repeat;
    background-size: cover;*/
    z-index: 0;
}

h1 {
    font-family: @sans-source;
    font-size: 2.25em;
}

h3 {
    font-family: @sanchez;
    font-size: 0.95em;
}

.header {
    position: fixed;
    left: 0;
    bottom: 0;

    width: 100%;

    z-index: -10;
    opacity: 0;

    h1 {
        font-size: 1em;
        margin: 10px 0 0 30px;
    }

    h3 {
        font-size: 0.75em;
        margin: 0 0 0 30px;
    }
}

.bg-video {
    position: fixed;
    top: 0;
    
    height: 100%;
    width: 100%;

    z-index: 0;
}

.video-overlay {
    position: fixed;
    top: 0;

    height: 100%;
    width: 100%;

    background: url('../assets/images/scan-lines.png') repeat;
    z-index: 1;
    opacity: 0.5;
}

.close-area {
    position: absolute;
    bottom: 13px;
    left: 30px;

    width: 40%;
    max-width: 180px;
    padding: 13px 0px;
    display: block;
    border-radius: 70px;
    border: 3px solid @dark-grey;

    text-align: center;
    font-size: 1em;
    font-family: @sans-source;
    font-weight: bold;
    color: @black;

    cursor: pointer;
    background-color: @grey;
}

.close-area:hover {
    background-color: @grey * 2;
}

.close-active {
    z-index: 10;
}

.close-slide {
    position: fixed;
    top: 9px;
    right: 100%;
    z-index: 10;

    padding: 4px 14px;
    border: 2px solid @black;
    border-radius: 100px;

    font-family: @sans-source;
    font-size: 1.5em;
    text-align: center;
    color: @black;

    background-color: @grey;
    opacity: 0.5;
}

.clearfix {
    clear: both;
    display: block;
}

.wide {
    display: none;
}

.default {
    display: block;
}


@media @mobile-landscape {
    h1 {
        font-size: 1.25em;
    }

    h3 {
        font-size: 1em;
    }

    .close-area {
        left: 2%;
        bottom: 10px;

        width: 25%;
        padding: 10px 0;

        font-size: 1em;
    }
}

@media @wide {
    .wide {
        display: block  !important;
    }

    .default {
        display: none  !important;
    }

    h1 {
        font-size: 3em;
    }

    h3 {
        font-size: 2em;
    }

    .header {
        top: 0;
        bottom: inherit;

        height: 60px;

        background: url('../assets/images/header_bg.png') repeat;
    }

    .close-area {
        top: 10px;
        right: 50px;
        bottom: auto;
        left: auto;

        width: 180px;
        padding: 8px 0;
    }
}
