@import "variables.less";

#main-title {
    position: relative;

    margin: 0 auto;
    padding: 10%;

    text-align: center;
}

#bottom-nav {
    position: absolute;
    bottom: 0;

    height: 60%;
    width: 100%;

    .nav-area {
        position: absolute;

        width: 50%;
        height: 50%;
        border: 4px solid #fff;

        cursor: pointer;

        .opaque-element {
            width: 100%;
            height: 100%;

            background-color: @white;

            opacity: 0.2;
        }

        span {
            position: absolute;
            top: 0;
            
            font-size: 1em;
            /*display: none;*/
        }
    }

    .about {
        top: 0;
        left: 0;
    }

    .design {
        top: 0;
        right: 0;
    }

    .code {
        bottom: 0;
        left: 0;
    }

    .contact {
        right: 0;
        bottom: 0;
    }
}

@media @mobile-landscape {

    #main-title {
        margin: 0 auto;
        padding-top: 3%;
    }
}