@import "variables.less";

#main-title {
    position: relative;

    margin: 0 auto;
    padding: 10%;

    text-align: center;

    h1, h3 {
        opacity: 0;
    }
}

#bottom-nav {
    position: absolute;
    bottom: 0;

    height: 60%;
    width: 100%;

    .nav-area {
        position: absolute;
        bottom: -1000px;

        width: 50%;
        height: 50%;

        cursor: pointer;

        .opaque-element {
            width: 60%;
            height: 60%;

            margin: auto;
            border-radius: 200px;
        }

        span {
            width: 100%;
            display: block;
            margin: auto;

            font-family: @sans-source;
            font-size: 4.5em;
            text-align: center;
        }
    }

    .about {

        left: 0;

        .opaque-element {
            background: url(../assets/images/about_small.jpg) no-repeat;
            background-size: cover;
        }
    }

    .design {

        right: 0;

        .opaque-element {
            background: url(../assets/images/design_small.jpg) no-repeat;
            background-size: cover;
        }
    }

    .code {

        left: 0;

        .opaque-element {
            background: url(../assets/images/code_small.jpg) no-repeat;
            background-size: cover;
        }
    }

    .contact {

        right: 0;

        .opaque-element {
            background: url(../assets/images/contact_small.jpg) no-repeat;
            background-size: cover;
        }
    }
}

.close-area {
    position: fixed;
    bottom: 0px;

    padding: 10px 40px;
    display: block;

    background-color: #009998;

    cursor: pointer;
}

@media @mobile-landscape {

    #main-title {
        margin: 0 auto;
        padding-top: 3%;
    }


    #bottom-nav {

        .nav-area {

            .opaque-element {
                width: 50%;
                height: 50%;

                margin: auto;
                border-radius: 200px;
            }

            span {
                font-size: 2em;
            }
        }
    }
}