@import "variables.less";

.active-section {
    z-index: 9 !important;
}

.gradient {
    height: 300px;
    margin-top: -300px;
}

.section-quote {
     text-shadow: @shadow-text;
}

.section-quote-author {
    font-size: 1.25em;
    font-family: @sanchez;
    text-align: right;
    text-shadow: @shadow-text
}

.section-content {
    padding: 5%;
    margin-top: -10px;

    font-family: @sans-source;
}

.section-title {
    display: block;
    margin: 0 auto 25px;

    font-size: 2em;
    font-weight: bold;
    text-align: center;
    text-shadow: @shadow-text;
}

.inner-content {
    position: absolute;
    top: 0;

    width: 100%;

    z-index: -15;
    opacity: 0;

    header {
        padding: 5%;
    }

    p {
        margin-bottom: 10%;

        font-size: 1.5em;
    }

    section {
        border-bottom: 3px solid #fff;
        margin-bottom: 50px;
    }
}