/*Fonts*/

@sans-source:       'Source Sans Pro', sans-serif;
@sanchez:           'Sanchez', serif;

/*Colors*/

@white:             #ffffff;
@black:             #000000;
@gold:              #DB7F24;
@green:             #1BA33F;
@blue:              #1A7287;
@red:               #DB3A24;

/*Other*/
@shadow-text:       0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);

/*Media Queries*/

@mobile-landscape: ~'(min-width: 500px) and (orientation: landscape)';